
.large-label {
  font-family: 'Poppins';
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}
.mid-label {
  font-family: 'Poppins';
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.small-label {
  font-family: 'Poppins';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2.1rem;
}

.standard-text {
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.standard-semiBold-text {
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.big-link {
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  text-decoration: underline;
}
